* {
    margin-left: .5rem;
    box-sizing: border-box;
}
 

 body {
    background: rgb(29,29,29);
 }

 /* header h1 {
    color:#fff;
    display: flex;
    width: 30%;
 }

ul {
    display: flex;
}

 .ul li {
    display: flex;
    color: #fff;
    width: 70%;
 }

 h1 + li {
    display: flex;
    flex-direction: row;
 } */

/****************** header + nav  **********************************/

 header {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments */
    justify-content: space-between; /* Espace entre h1 et le nav */
    color:#fff;
}

header h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
}

/* Appliquer un flexbox à l'ul pour aligner les li horizontalement */
.ul {
    display: flex;
    list-style: none; /* Enlève les puces des éléments de la liste */
    margin: 0; /* Enlève la marge par défaut */
    padding: 0; /* Enlève le padding par défaut */
}

.ul li {
    margin: 0 4rem 0 20rem; /* Espace entre chaque li */
    text-transform: capitalize;
    font-size: 20px;
}



/*************************  article   **************************************/


h2 {
    color: #fff;
    font-size: 100px;
    text-transform: capitalize;
    width: 50rem;
    margin-bottom: 0;
    margin-top: 15rem;
}

h3 + p{
    width: 50rem;
}

h3 {
   color: blue;
   font-size: 2rem;
   text-transform: capitalize;
   margin-top: 1.5rem;
   width: 50rem;
   margin-top: 0;
   margin-bottom: 0;
}

p {
    width: 50rem !important;
    color: #fff;
}

.img {
    margin-bottom: 30rem;
}

.img img {
    
    width: 55rem;
    height: 55rem;
    float: right;
    margin-right: 2rem;
    margin-top: 10rem;
	/* flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items:flex-start;
	align-content:flex-start */
    position: absolute;
    right: .5rem;
    top: 1rem;
}


/**********************   Footer   **********************/


footer {
    margin: 0 1rem 3rem 1rem;
    background:  #000000a6;
    /* width: 100%; */
    height: auto;
    border-radius: 25px;
}

.aside .li {
    color: #fff;
    list-style: none;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.5rem;
    width: 50%;
    padding: 1rem 1rem 0 1rem;
    text-transform: capitalize;
    
}

/* ul.li {
    display: flex;
    
} */

/******* 3 li ****/



.ull {
    
    margin:0;
    padding-left: 1rem;
    list-style-type: none;
    width: 13rem;
    border-radius: 5px solid #000000a6;
    
}

li {
    text-align: center;
}

.lii {
    padding: 15px 0;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
	align-content: center;
    justify-content: center;
    background: #410eb8;
    border: 5px solid #000000a6;;
    border-radius: 50px;
    text-transform: capitalize;
}

 






